@import url("http://fonts.cdnfonts.com/css/dust-west");
@import url("http://fonts.cdnfonts.com/css/rockstar");
@import url("http://fonts.cdnfonts.com/css/arial");
@import url("http://fonts.cdnfonts.com/css/verdana");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #0c618a;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e3f5ff;
}

.c-header {
  text-align: center;
  padding: 0.5rem;
  background-color: #0c4663;
  color: white;
  font-family: "Dust West", sans-serif;
  background-image: url("../Images/Desktop/Backgroundlogo.png");
  background-size: 18rem;
  background-position: center;
  background-repeat: no-repeat;
}

.c-header__item {
  color: white;
}

.c-header__title {
  margin-top: 0.5rem;
  font-size: 4rem;
}

.c-nav {
  margin-left: 2rem;
}

.c-nav li {
  margin-left: 2rem;
}

.c-nav__link {
  text-decoration: none;
  font-family: "Arial Black", sans-serif;
  color: white;
  font-size: 1rem;
}

.c-nav__link:hover {
  color: #e3f5ff;
}

.c-nav__text {
  background-image: url("../Images/Desktop/magnifying-glass-free-icon-magnifying-glass-icon-11562945594bjpcnqjfko.png");
  background-repeat: no-repeat;
  background-size: 1.6rem;
  right: 0px;
}

.c-nav input::-webkit-input-placeholder {
  text-align: center;
}

.c-nav input:-ms-input-placeholder {
  text-align: center;
}

.c-nav input::-ms-input-placeholder {
  text-align: center;
}

.c-nav input::placeholder {
  text-align: center;
}

.c-banner {
  font-family: "Dust West", sans-serif;
  color: white;
  background-image: url("../Images/Desktop/Dilude.png");
  padding: 10rem 0;
  width: auto;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.c-banner__item {
  text-align: center;
}

.c-banner__title {
  font-family: "Dust West", sans-serif;
  font-size: 6rem;
  padding-bottom: 5rem;
}

.c-banner__btn {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Arial Black", sans-serif;
  background-color: #1474a4;
  padding: 1rem;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 6px 6px #1474a4;
          box-shadow: 0px 0px 6px 6px #1474a4;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}

.c-banner__btn:hover {
  color: #e3f5ff;
  -webkit-box-shadow: 0px 0px 6px 6px #0c4663;
          box-shadow: 0px 0px 6px 6px #0c4663;
  background-color: #0c4663;
  -webkit-transition: #0c4663, #e3f5ff, -webkit-box-shadow;
  transition: #0c4663, #e3f5ff, -webkit-box-shadow;
  transition: #0c4663, #e3f5ff, box-shadow;
  transition: #0c4663, #e3f5ff, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.c-features {
  background-color: #e3f5ff;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-right: 2rem;
}

.c-features__title {
  font-family: "Rockstar", sans-serif;
  font-size: 3rem;
  color: #0c4663;
}

.c-features__text {
  font-family: "Verdana", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  text-align: center;
}

.c-cta {
  background-color: hotpink;
  background-image: url("../Images/Desktop/BackgroundCTA.png");
  padding: 6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.c-types {
  background-color: #157cb0;
  text-align: center;
  color: white;
}

.c-types__title {
  font-family: "Rockstar", sans-serif;
}

.c-klachtendienst {
  background-color: #e3f5ff;
}

.c-klachtendienst__img {
  margin-top: 2rem;
  min-height: 30rem;
  background-size: cover;
  background-position: center center;
}

.c-klachtendienst__img--bg1 {
  background-image: url("../Images/Support/depositphotos_19510913-stock-photo-choices-of-a-businessman.png");
}

.c-klachtendienst__img--bg2 {
  background-image: url("../Images/Support/BrightnessContrast5.png");
}

.c-klachtendienst__img--bg3 {
  background-image: url("../Images/Support/waypointnamen.png");
}

.c-klachtendienst__titel {
  font-family: "Rockstar", sans-serif;
  text-align: center;
  font-size: 3rem;
  color: #0c4663;
}

.c-klachtendienst__text--1 {
  padding: 3rem;
  margin: auto 0;
  font-size: 1.2rem;
  font-family: "Verdana", sans-serif;
  text-align: center;
}

.c-klachtendienst__text--2 {
  padding: 3rem;
  text-align: left;
  margin: auto 0;
  font-size: 1.2rem;
  font-family: "Verdana", sans-serif;
}

.c-klachtendienst__text--3 {
  padding: 3rem;
  text-align: center;
  margin: auto 0;
  font-size: 1.2rem;
  font-family: "Verdana", sans-serif;
}

.c-klachtendienst__button {
  color: black;
  text-decoration: underline;
}

.c-klachtendienst__button:hover {
  color: #0c4663;
}

.c-klachtendienst__item {
  background-image: url("../Images/Support/Email.png");
  background-repeat: no-repeat;
  background-size: 2rem;
}

.c-klachtendienst__openingsuren {
  text-align: center;
}

.c-klachtendienst input::-webkit-input-placeholder {
  text-align: center;
}

.c-klachtendienst input:-ms-input-placeholder {
  text-align: center;
}

.c-klachtendienst input::-ms-input-placeholder {
  text-align: center;
}

.c-klachtendienst input::placeholder {
  text-align: center;
}

.c-footer {
  color: white;
  font-size: 1.2rem;
  padding-top: 1rem;
  background-color: #0c618a;
}

.c-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-footer__phone {
  text-align: right;
}

.c-footer__logo {
  background-image: url("../Images/Desktop/Backgroundlogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 35rem;
  text-align: center;
}

.c-card__desktop {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.c-card__link {
  text-decoration: none;
}

.c-card__types {
  border: none;
  background-color: #e3f5ff;
  border-radius: .9375rem;
  padding: 0 0.5rem;
  margin: 1rem 0rem;
}

.c-card__thumbnail {
  border: none;
  background-color: transparent;
}

.c-card__button {
  color: white;
  background-color: #0c618a;
}

.c-card:hover {
  background-color: #0c4663;
}

.c-card__title {
  font-family: "Dust West", sans-serif;
  font-size: 5rem;
}
/*# sourceMappingURL=screen.css.map */